<!Doctype html>
<html lang="ko">

<head>
    <title>ASAP DEMO</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="ASAP">
    <meta name="keywords" content="ASAP, DEMO">
    <meta name="description" content="ASAP DEMO 입니다.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="ASAP DEMO">
    <meta property="og:description" content="ASAP DEMO 입니다.">
    <meta property="og:image" content="../../content/images/og.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta property="twitter:title" content="ASAP DEMO">
    <meta property="twitter:description" content="ASAP DEMO 입니다.">
    <meta property="twitter:image" content="../../content/images/og.png">

    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

    <link href="../../content/styles/slick.css" rel="stylesheet">
    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/content.css" rel="stylesheet">
    <link href="../../content/styles/bootstrap.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    <script src="../../content/scripts/bootstrap.min.js"></script>
</head>
<script>
    function notyet(){
        alert('개발중입니다.');
    }
</script>
<body class="sb-nav-fixed">
    <div id="wrap">
        <!-- navbar START -->
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4" style="text-align: center;">
                    <a href="#" style="text-decoration:none;" onClick='notyet()'>
                        <img src="../../content/images/kakao_login_large_narrow_start.png"
                            style="height: 45px; width: 183px; vertical-align:middle;">
                        </img>
                    </a>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <!-- navbar END -->
        <!-- main START -->
        <main>
            <article class="vsl-area">
                <div class="vsl-tit-box">
                    <h1 class="vsl-tit tg-fw700">
                        <strong class="vsl-tit-row__btm">ASAP</strong>
                    </h1>
                    <strong class="vsl-subtit tg-fw500 fs30">이용할 서비스를 선택해주세요.</strong>
                </div> <!-- //visual title box -->
                <!-- visual figure box -->
                <div class="cmnbtn-box">
                    <div class="grid550">
                        <a href="#" title="접수하기" class="cmnbtn cmnbtn-blk__full" id="testStart" onClick='notyet()'>
                            <span><img src="../../content/images/local_shipping_white_24dp.svg"
                                    class="cmnbtn-img"></span><br />
                            <span class="cmnbtn-label">접수하기</span>
                        </a>
                        <div style="margin-top: 1.25rem;"></div>
                        <a href="#" title="현황확인" class="cmnbtn cmnbtn-blk__full" id="testStart" onClick='notyet()'>
                            <span><img src="../../content/images/travel_explore_white_24dp.svg"
                                    class="cmnbtn-img"></span><br />
                            <span class="cmnbtn-label">현황확인</span>
                        </a>
                        <div style="margin-top: 1.25rem;"></div>
                    </div> <!-- //grid -->
                </div> <!-- //common button box -->
            </article> <!-- //visual area -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer class="lightgrey">
            <div class="grid">
                <div class="ft-info-box flex-box flex-spc__btw">
                    <p class="ft-info__txt fs16">COPYRIGHT ⓒ ASAP CO., LTD. ALL RIGHTS RESERVED.</p>
                    <a href="policy.html" class="ft-info__btn fs16">개인정보 처리방침</a>
                </div>
            </div>
        </footer>
        <!-- //footer END -->
    </div> <!-- //wrap -->

    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/slick.min.js"></script>
</body>

</html>