<!Doctype html>
<html lang="ko">

<head>
    <title>ASAP DEMO</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="author" content="ASAP">
    <meta name="keywords" content="ASAP, 스타트업, 물류서비스">
    <meta name="description" content="ASAP DEMO 입니다.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="ASAP DEMO">
    <meta property="og:description" content="ASAP DEMO 입니다.">
    <meta property="og:image" content="../../content/images/og.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta property="twitter:title" content="ASAP DEMO">
    <meta property="twitter:description" content="ASAP DEMO 입니다.">
    <meta property="twitter:image" content="../../content/images/og.png">

    <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

    <link href="../../content/styles/slick.css" rel="stylesheet">
    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/content.css" rel="stylesheet">
    <link href="../../content/styles/bootstrap.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    <script src="../../content/scripts/bootstrap.min.js"></script>
</head>
<script>
    function notyet(){
        alert('개발중입니다.');
    }
</script>

<body class="sb-nav-fixed">
    <div id="wrap">
        <!-- main START -->
        <main>
            <article class="vsl-area">
                <div class="vsl-tit-box">
                    <h1 class="vsl-tit tg-fw700">
                        <strong class="vsl-tit-row__btm">ASAP</strong>
                    </h1>
                    <strong class="vsl-subtit tg-fw500 fs30">접수하기</strong>
                </div> <!-- //visual title box -->
                <!--<div class="vsl-txt-box">
                        <p class="vsl-txt fs26">갤럭시 퀀텀2를 구매하신 고객님께<br><strong>생활에 안심을 주는<br><mark class="highlight-txt">안심 구독 패키지</mark>를 드립니다!</strong></p>
                        <p class="vsl-txt fs22">(88만 원 상당, 당첨자 100명 추첨)</p>
                    </div>-->
                <!-- //visual text box -->
                <!--<figure class="vsl-fig-box">
                        <img src="../../content/images/visual-box.png" alt="안심 구독 패키지 박스 이미지 - ADT캡스, Galaxy A Quantum 2, 현대식품관 to Home, 미마마스크">
                    </figure>-->
                <!-- visual figure box -->
                <div class="cmnbtn-box">
                    <div class="grid550">
                        <a href="javascript:void(0)" title="접수하기" class="cmnbtn cmnbtn-blk__full" id="testStart" onClick='notyet()'>
                            <span><img src="../../content/images/directions_bus_filled_white_24dp.svg"
                                    class="cmnbtn-img"></span><br />
                            <span class="cmnbtn-label">터미널에 도착하는 물건을<br / >배송하고 싶어요</span>
                        </a>
                        <div style="margin-top: 1.25rem;"></div>
                        <a href="javascript:void(0)" title="현황확인" class="cmnbtn cmnbtn-blk__full" id="testStart" onClick='notyet()'>
                            <span><img src="../../content/images/moving_white_24dp.svg"
                                    class="cmnbtn-img"></span><br />
                            <span class="cmnbtn-label">픽업 후 다른 곳으로 배송해주세요.</span>
                        </a>
                        <div style="margin-top: 1.25rem;"></div>
                    </div> <!-- //grid -->
                </div> <!-- //common button box -->
            </article> <!-- //visual area -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer class="lightgrey">
            <div class="grid">
                <div class="ft-info-box flex-box flex-spc__btw">
                    <p class="ft-info__txt fs16">COPYRIGHT ⓒ ASAP CO., LTD. ALL RIGHTS RESERVED.</p>
                    <a href="policy.html" class="ft-info__btn fs16">개인정보 처리방침</a>
                </div>
            </div>
        </footer>
        <!-- //footer END -->
    </div> <!-- //wrap -->

    <script src="../../content/scripts/common.js"></script>
    <script src="../../content/scripts/slick.min.js"></script>
</body>

</html>